In [1]:
# Import libraries
import pandas as pd

In [2]:
# Read in data
# NOTE: Course data are kept in (very) separate directory

# File locations
schools_loc  = "../../UNCRAL20190514DATA/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv"
students_loc = "../../UNCRAL20190514DATA/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv"

# Data frames
schools_df = pd.read_csv(schools_loc)
students_df = pd.read_csv(students_loc)

In [3]:
# Combine all data
all_df = schools_df.merge(students_df, how="outer", on="school_name")

# Make things easier
all_df["pass_math"] = (all_df["math_score"] >= 60)
all_df["pass_reading"] = (all_df["reading_score"] >= 60)
all_df["pass_both"] = (all_df["pass_math"] & all_df["pass_reading"])

In [41]:
# Helper code
def formatting(df):
    df["Total Students"] = df["Total Students"].map("{:,}".format)
    df["Total Budget"] = df["Total Budget"].map("${:,}".format)
    df["Average Math Score"] = df["Average Math Score"].map("{:,.1f}".format)
    df["Average Reading Score"] = df["Average Reading Score"].map("{:,.1f}".format)
    df["% Passing Math"] = df["% Passing Math"].map("{:.1%}".format)
    df["% Passing Reading"] = df["% Passing Reading"].map("{:.1%}".format)
    df["Overall Passing Rate"] = df["Overall Passing Rate"].map("{:.1%}".format)
    
recodes = {"size": "Total Students",
           "budget": "Total Budget",
           "math_score": "Average Math Score",
           "reading_score": "Average Reading Score",
           "pass_math": "% Passing Math",
           "pass_reading": "% Passing Reading",
           "pass_both": "Overall Passing Rate"}

In [40]:
# School-level
schools_df["Count"] = 1
schools_cols = ["Total Schools", "Total Students", "Total Budget"]
schools_vals = schools_df[["Count", "size", "budget"]].sum().tolist()
schools_data = dict(zip(schools_cols, schools_vals))
schools_summary_df = pd.DataFrame(data=schools_data, index=[0])
schools_summary_df["school"] = "Total"

# Student-level
student_cols = ["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]
student_vals = all_df[ ["math_score", "reading_score", "pass_math", "pass_reading", "pass_both"] ].mean().tolist()
student_data = dict(zip(student_cols, student_vals))
student_summary_df = pd.DataFrame(data=student_data, index=[0])
student_summary_df["school"] = "Total"

total_summary_df = schools_summary_df.merge(student_summary_df, how="outer", on="school")

# Still need to clean this up
formatting(total_summary_df)
total_summary_df

,Total Schools,Total Students,Total Budget,school,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428",Total,79.0,81.9,92.4%,100.0%,92.4%

In [43]:
# School summary
school_summary_df = schools_df[["school_name", "type", "size", "budget"]]
students_grouped = all_df[["school_name", "reading_score", "math_score", "pass_math", "pass_reading", "pass_both"]].groupby("school_name")
school_means = students_grouped.mean()

combine = school_summary_df.merge(school_means, how="outer", on="school_name")
combine = combine.set_index("school_name", drop=True)
combine = combine.rename(columns=recodes)
formatting(combine)
combine

,type,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,
Huang High School,District,"2,917","$1,910,635",81.2,76.6,88.9%,100.0%,88.9%
Figueroa High School,District,"2,949","$1,884,411",81.2,76.7,88.4%,100.0%,88.4%
Shelton High School,Charter,"1,761","$1,056,600",83.7,83.4,100.0%,100.0%,100.0%
Hernandez High School,District,"4,635","$3,022,020",80.9,77.3,89.1%,100.0%,89.1%
Griffin High School,Charter,"1,468","$917,500",83.8,83.4,100.0%,100.0%,100.0%
Wilson High School,Charter,"2,283","$1,319,574",84.0,83.3,100.0%,100.0%,100.0%
Cabrera High School,Charter,"1,858","$1,081,356",84.0,83.1,100.0%,100.0%,100.0%
Bailey High School,District,"4,976","$3,124,928",81.0,77.0,89.5%,100.0%,89.5%
Holden High School,Charter,427,"$248,087",83.8,83.8,100.0%,100.0%,100.0%
Pena High School,Charter,962,"$585,858",84.0,83.8,100.0%,100.0%,100.0%
Wright High School,Charter,"1,800","$1,049,400",84.0,83.7,100.0%,100.0%,100.0%
Rodriguez High School,District,"3,999","$2,547,363",80.7,76.8,88.5%,100.0%,88.5%
Johnson High School,District,"4,761","$3,094,650",81.0,77.1,89.2%,100.0%,89.2%
Ford High School,District,"2,739","$1,763,916",80.7,77.1,89.3%,100.0%,89.3%
Thomas High School,Charter,"1,635","$1,043,130",83.8,83.4,100.0%,100.0%,100.0%